# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
*.sqlite3

# Virtual Environments
env/
venv/
ENV/
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# PyCharm
.idea/

# System
Thumbs.db
ehthumbs.db
Desktop.ini

# Docker
*.pid

# Node (se algum dia tiver frontend)
node_modules/
dist/
