# Ignorar tudo que não é necessário
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
*.db
*.sqlite3
logs/
backend_logs/
docker-compose.yml
Dockerfile
*.log
node_modules/
.git
.github/
.gitignore
README.md
venv/
aqui
backend/.pytest_cache/
